---
# tasks file for zabbix_agent

- include_vars: "{{ ansible_os_family }}.yml"

- include_tasks: "{{ ansible_os_family }}.yml"

- template:
    src: templates/zabbix_agentd.conf.j2
    dest: /etc/zabbix/zabbix_agentd.conf    
    backup: yes
  when:   
    - ansible_os_family != "Windows"
  notify: restart zabbix-agent service  
  tags:
    - zabbix-agent    
    - config


- name: "Enable the service"
  service:
    name: "zabbix-agent"
    enabled: yes
    use: service
  become: true
  when:   
    - ansible_os_family != "Windows"
    - zabbix_agent_package_installed is succeeded
  tags:
    - zabbix-agent
    - init
    - service    