- name: Windows | Set zabbix_agent_win_arch based on system architecture
  set_fact:
    zabbix_agent_win_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else 'i386' }}"



- name: "Windows | Set path to zabbix.exe"
  set_fact:
    zabbix_agent_win_exe_path: '{{ zabbix_agent_win_install_dir }}\bin\zabbix_agentd.exe'

- name: "Windows | Set variables specific to Zabbix"
  set_fact:
    zabbix_agent_win_package: zabbix_agent-{{ zabbix_agent_version_full }}-windows-{{ zabbix_agent_win_arch }}.zip    
  when:
    - zabbix_agent_version_full is version('6.0.0', '>=')

- name: "Windows | Check if Zabbix agent is present"
  win_stat:
    path: '{{ zabbix_agent_win_exe_path }}'
  register: agent_file_info

- name: "Windows | Get Installed Zabbix Agent Version"
  win_file_version:
    path: "{{ zabbix_agent_win_exe_path }}"
  register: zabbix_agent_win_exe_info
  when:
    - agent_file_info.stat.exists

- name: "Windows | Checking Update (Set default)"
  set_fact:
    update_zabbix_agent: False
  when:
    - agent_file_info.stat.exists

- name: "Windows | Checking Update"
  set_fact:
    update_zabbix_agent: True
  when:
    - agent_file_info.stat.exists
    - zabbix_agent_win_exe_info.win_file_version.product_version is version(zabbix_agent_version_full, '<')    

- name: "Windows | Create directory structure"
  win_file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ zabbix_agent_win_install_dir }}"

- name: "Windows | Stop Zabbix (Update)"
  win_service:
    name: Zabbix Agent
    start_mode: auto
    state: stopped
  when:
    - update_zabbix_agent | default(false)
    - agent_file_info.stat.exists

- name: "Windows | Uninstall Zabbix (Update)"
  win_command: '{{ zabbix_agent_win_exe_path }} --config {{ zabbix_agent_win_install_dir }}\conf\zabbix_agentd.conf --uninstall'
  register: zabbix_windows_install
  when:
    - update_zabbix_agent | default(false)
    - agent_file_info.stat.exists

- name: "Windows | Removing Zabbix Directory (Update)"
  win_file:
    path: '{{ zabbix_agent_win_install_dir }}'
    state: absent
  when:
    - update_zabbix_agent | default(false)
    - agent_file_info.stat.exists

- name: "Windows | Check if file is already downloaded"
  win_stat:
    path: '{{ zabbix_agent_win_install_dir }}\{{ zabbix_agent_win_package }}'
  register: file_info

- name: "Windows | Download Zabbix Agent Zip file"
  win_get_url:
    url: "{{ zabbix_agent_win_download_link }}"
    dest: '{{ zabbix_agent_win_install_dir }}\{{ zabbix_agent_win_package }}'
    force: False
    follow_redirects: all
  register: zabbix_agent_win_download_zip
  until: zabbix_agent_win_download_zip is succeeded

- name: "Windows | Unzip file"
  win_unzip:
    src: '{{ zabbix_agent_win_install_dir }}\{{ zabbix_agent_win_package }}'
    dest: "{{ zabbix_agent_win_install_dir }}"
    creates: '{{ zabbix_agent_win_exe_path }}'

- name: "Windows | Configure zabbix-agent"
  win_template:
    src: zabbix_agent2.conf.j2
    dest: '{{ zabbix_agent_win_install_dir }}\conf\zabbix_agentd.conf'
  notify: restart win zabbix agent

- name: "Windows | Register Service"
  win_command: '"{{ zabbix_agent_win_exe_path }}" --config "{{ zabbix_agent_win_install_dir }}\conf\zabbix_agentd.conf" --install'
  register: zabbix_windows_install
  args:
    creates: '{{ zabbix_agent_win_install_dir }}\.installed'

- name: "Windows | Create done file so it won't register itself again"
  win_file:
    path: '{{ zabbix_agent_win_install_dir }}\.installed'
    state: touch
  when: zabbix_windows_install is changed

- name: "Windows | Set service startup mode to auto and ensure it is started"
  win_service:
    name: Zabbix Agent
    start_mode: auto
    state: started

- name: "Windows | Getting Zabbix Service Recovery Settings"
  win_shell: sc.exe qfailure "Zabbix Agent" 1100
  register: svc_recovery
  changed_when: false
  check_mode: false
  when: zabbix_agent_win_svc_recovery

- name: "Windows | Setting Zabbix Service Recovery"
  win_shell: sc.exe failure "Zabbix Agent" actions= restart/5000/restart/10000/restart/20000 reset= 86400
  when:
    - "'RESTART -- Delay' not in svc_recovery.stdout"
    - zabbix_agent_win_svc_recovery
  ignore_errors: true  

- name: "Windows | Firewall rule"
  win_firewall_rule:
    name: Zabbix Agent
    localport: "{{ zabbix_config_listen_port }}"
    action: allow
    direction: in
    protocol: tcp
    state: present
    enabled: yes