---
# Tasks specific for CentOS systems

- name: Enable EPEL Repository on CentOS 8
  dnf:
    name: epel-release
    state: latest
  when: ansible_os_family == 'RedHat' and ansible_facts ['distribution_major_version'] == '8'
  tags:
    - packages

- name: Enable EPEL Repository on CentOS 7
  yum:
    name: epel-release
    state: latest
  when: ansible_os_family == 'RedHat' and ansible_facts ['distribution_major_version'] == '7'
  tags:
    - packages

- name: Install Java OpenJDK 21 on RedHat family
  ansible.builtin.yum:
    name: java-21-openjdk-devel
    state: present
  when:
    - "'jenkins-agent' in group_names"

- name: Install NFS tools on RedHat family
  ansible.builtin.yum:
    name: nfs-utils
    state: present
